.header {
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    flex: 0 0 58px;
    display: flex;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    width: 100%;
}

.left-text {
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
}

.header-menu {
    display: flex;
    width: 357px;
    justify-content: space-between;
}

.header-hover:hover {
    color: #3cb878;
    cursor: pointer;
    transition: all 0.4s;
}

.icons {
    font-size: 20px;
}

.line {
    width: 1px;
    height: 19px;
    background: rgba(255, 255, 255, 0.9);
}

.header-text {
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-decoration: none;
}