@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css");
@import "../css/reset.css";
@import "../css/body.css";
@import "../css/header.css";
@import "../css/footer.css";
* {
    box-sizing: border-box;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 100%;
}

.singup-form {
    position: relative;
    width: 444px;
    background-color: #fff;
    box-shadow: 0px 4px 42px rgba(0, 0, 0, 0.76);
    border-radius: 10px;
    padding: 25px 40px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.singup-form::after {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    left: 0px;
    top: 30px;
    background: #3cb878;
}

.form-text {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.form-signup {
    font-weight: normal;
    font-size: 20px;
    line-height: 21px;
    color: #434343;
}

.form-login {
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #3cb878;
}

.button-img {
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #fff;
    display: block;
    width: 110px;
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.button {
    width: 180px;
    height: 48px;
    border-radius: 5px;
    border: none;
    color: #fff;
    cursor: pointer;
    /* flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 1; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.button .fab {
    font-size: 1.2rem;
}

.button-fb {
    background: #305db8;
    margin-right: 10px;
}

.separator {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    padding-right: 15px;
}

.button-google {
    background: #df4a32;
}

.terms a {
    color: #3cb878;
    text-decoration: none;
}

.button-create-account {
    width: 100%;
    margin-top: 10px;
    background: #3cb878;
}

.user-data {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #bebebe;
}

.container>input:focus {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    outline: none;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    padding: 20px;
    margin-bottom: 15px;
    transition: all 0.3s;
}

input[type="checkbox"] {
    display: none;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #f2f2f2;
}

.custom-checkbox {
    display: block;
    margin: 10px 0 25px;
}

.custom-checkbox>.far {
    color: #3cb878;
}

input[type="checkbox"]:not(:checked)~.fa-check-square {
    display: none;
}

input[type="checkbox"]:checked~.fa-square {
    display: none;
}

.line-or {
    display: flex;
    align-items: center;
    margin: 16px 0;
}

.line-or>.horizontal-line {
    flex-basis: 100%;
    flex-shrink: 1;
    flex-grow: 1;
    height: 1px;
    background: rgba(0, 0, 0, 0.1);
    /* flex: 1 1 100%; */
    margin-top: 4px;
}

.line-or>.text {
    flex-basis: 0;
    flex-shrink: 0;
    flex-grow: 0;
    /* flex: 0 0 0; */
    margin: 0 15px;
}