@import "./reset.css";

/* Настройка основной типографии */

body,
select,
input,
textarea,
button {
    font: normal 1em/1 'Roboto', Helvetica, Arial, sans-serif;
    outline: none;
    color: #fff;
}

a {
    outline: none;
    color: #fff;
    text-decoration: none;
}

a:hover {
    /* text-decoration: underline; */
    color: #F26522;
}


/* Общие стили */

.wrapper-page {
    width: 1064px;
    margin: 0px auto;
}


/* ---/-- Общие стили */

.wrapper {
    background-image: url("../img/background.jpg");
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    padding-top: 30px;
    padding-bottom: 20px;
}

.header-left {
    float: left;
}

.header-right {
    float: right;
    text-align: right;
}

.header-link {
    display: block;
    height: 100%;
    max-width: 200px;
}

.header-title {
    float: left;
}

.header-title span {
    display: block;
    line-height: 21px;
}

.header-link:hover .logo1 {
    display: none;
}

.header-link:hover .logo2 {
    display: block;
}

.header-link .logo1 {
    display: block;
}

.header-link .logo2 {
    display: none;
}

.logo-background {
    background-image: url('../img/logo.png');
    width: 53px;
    height: 47px;
    float: left;
    margin-right: 10px;
}

.header-link:hover .logo-background {
    background-image: url('../img/logohover.png');
}

.milan {
    font-size: 29px;
    font-weight: bold;
    height: 30px;
    text-transform: uppercase;
}

.holidays {
    font-size: 18px;
    font-weight: bold;
    height: 21px;
    text-transform: uppercase;
}

.header-info {
    float: right;
    width: 210px;
}

.header-info a {
    display: inline-block;
    vertical-align: middle;
    line-height: 30.5px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.article {
    float: left;
    width: 300px;
    height: 260px;
    margin-right: 82px;
    margin-bottom: 40px;
    position: relative;
}

.article:nth-child(3n) {
    margin-right: 0;
}

.article:hover .img-info-hover {
    /* opacity: 1; */
    /* display: block; */
    transform: translate3d(0, 0, 0);
}

.img-info-hover .view {
    float: right;
}

.article-img {
    position: relative;
    overflow: hidden;
    display: block;
    margin-bottom: 15px;
}

.img-info-hover {
    padding: 10px;
    position: absolute;
    /* opacity: 0; */
    /* display: none; */
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-color: #F26522;
    transform: translate(0, 100%);
    transition: all 0.3s;
}

.article-img img {
    width: 100%;
}

.article-title {
    text-align: center;
    display: block;
    font-size: 18px;
    line-height: 28px;
}

.article-url::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
}

.from {
    font-size: 10px;
    line-height: 21px;
}

.money {
    font-size: 20px;
    line-height: 21px;
}

.viewdetails {
    font-size: 14px;
    line-height: 21px;
    float: right;
}

.viewdetails::after {
    content: '>';
    padding-left: 5px;
}

.footer {
    text-align: center;
    font-size: 12px;
    line-height: 21px;
}


/* Алексей */


/* .wrapper {
    background-image: url("background.jpg");
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
} */


/* .header {
    max-width: 1064px;
    margin: 0 auto;
    padding-top: 40px;
    border: 1px solid white;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.logo-container {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    background-image: url("../img/logo.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 53px;
    height: 47px;
}

.Milan {
    font-size: 29px;
    line-height: 21px;
    font-style: normal;
    font-weight: bold;
    color: white;
    padding-left: 61px;
}

.Holidays {
    font-size: 18px;
    line-height: 21px;
    font-style: normal;
    font-weight: bold;
    color: white;
    padding-left: 61px;
} */