.Toolbar {
margin-right: 50px;
font-size: 18px;
text-transform: uppercase;
color: #16A085;
}

.Image {
    width: 1290px;
    height: 390px;
}

.Button {
    width: 195px;
    height: 54px;
    left: 543px;
    top: 555px;
    color: white;
    font-family: Montserrat;
    font-size: 12px;
    text-transform: uppercase;
    background-color: #16A085;
}