@import "../css/reset.css";
@import "../css/header.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css";
@import "../css/main.css";
@import "../css/footer.css";

/* open-sans-regular - latin */

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/open-sans-v17-latin-regular.eot");
    /* IE9 Compat Modes */
    src: local("Open Sans Regular"), local("OpenSans-Regular"), url("../fonts/open-sans-v17-latin-regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/open-sans-v17-latin-regular.woff2") format("woff2"), /* Super Modern Browsers */
    url("../fonts/open-sans-v17-latin-regular.woff") format("woff"), /* Modern Browsers */
    url("../fonts/open-sans-v17-latin-regular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/open-sans-v17-latin-regular.svg#OpenSans") format("svg");
    /* Legacy iOS */
}


/* open-sans-700 - latin */

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/open-sans-v17-latin-700.eot");
    /* IE9 Compat Modes */
    src: local("Open Sans Bold"), local("OpenSans-Bold"), url("../fonts/open-sans-v17-latin-700.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/open-sans-v17-latin-700.woff2") format("woff2"), /* Super Modern Browsers */
    url("../fonts/open-sans-v17-latin-700.woff") format("woff"), /* Modern Browsers */
    url("../fonts/open-sans-v17-latin-700.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/open-sans-v17-latin-700.svg#OpenSans") format("svg");
    /* Legacy iOS */
}

body {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    background: #f2f2f2;
}

section {
    width: 100%;
    box-sizing: border-box;
}


/* .item-wrapper {
    width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
} */