.footer-container {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
}

.footer-text {
    color: white;
    margin-right: 560px;
}

.footer-img img {
    vertical-align: top;
}