.header-container {
    height: 70px;
    background-color: #313131;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container a {
    text-decoration: none;
    color: #fff;
    padding-right: 20px;
}

.header-logo {
    margin-left: 22px;
}

.header-logo-text {
    padding-left: 10px;
    font-size: 22px;
    font-weight: bold;
    vertical-align: top;
}

.header-menu-container {
    width: 60%;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
}

.header-finder {
    width: 68px;
    height: 70px;
}

.header-finder i {
    background: #000;
    font-size: 17px;
    line-height: 70px;
    display: block;
    text-align: center;
    cursor: pointer;
}