.latest-news {
    background-image: url("../img/header-bg.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 445px;
}

.latest-news-container {
    text-align: center;
}

.latest-news-text {
    font-size: 27px;
    color: #fff;
}

.btn {
    width: 170px;
    height: 55px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    border: none;
    margin: 44px 10px;
    font-family: "Open Sans";
}

.btn-subscribe {
    background: #89ca62;
}

.btn-articles {
    background: #14b9d5;
}

.section-title {
    text-align: center;
    font-weight: bold;
    font-size: 27px;
    color: #18b4cf;
    text-transform: uppercase;
    padding: 52px 0;
}

.most-popular-container {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    align-items: center;
    height: 1030px;
}

.most-popular-img {
    background: #ffffff;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
    margin: 15px;
}

.most-popular-img img {
    max-width: 100%;
}

.most-popular-img p {
    padding: 20px;
    text-align: center;
}

.popular-clients {
    background-image: url("../img/parallax-bg.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 72px;
    padding-bottom: 53px;
    background-size: cover;
    display: grid;
    align-content: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 100px 100px;
}

.popular-clients-text {
    width: 496px;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: bold;
    color: #FFF;
    /*     grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 2; */
    grid-column: 1 / 5;
    grid-row: 1 / 2
}

.popular-clients-line {
    width: 60px;
    height: 3px;
    background: #18B4CF;
    /* grid-column-start: 1;
    grid-column-end: 5;
    grid-row-end: 2;
    grid-row-end: 3; */
    grid-column: 1 / 5;
    grid-row: 2 / 3;
}

.popular-national-post {
    /* grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4; */
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.popular-dryme {
    /* grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4; */
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.popular-house-home {
    /* grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4; */
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

.popular-journy {
    /* grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: end; */
    grid-column: 4 / 5;
    grid-row: 3 / end;
}

.top-rated img {
    max-width: 100%;
}

.top-rated-content {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(7, 1fr);
}

.hot-news {
    background: rgba(0, 0, 0, 0.0001);
    margin: 0 auto;
    width: 980px;
}

.hot-news-content {
    display: grid;
    align-content: center;
    justify-items: center;
    row-gap: 43px;
    column-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.hot-news-img {
    /* box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03); */
    display: flex;
    /* flex-wrap: wrap; */
    /* padding-bottom: 43px; */
}


/* .hot-news-img img {
    max-width: 100%;
} */

.hot-news-text {
    background: #f9f7f7;
    width: 100%;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
    padding-right: 24px;
    text-align: right;
    padding-top: 20px;
    font-size: 14px;
    color: #5B6469;
}

.hot-text-headline {
    font-weight: bold;
    font-size: 18px;
    color: #353A3D;
    padding-bottom: 20px;
}

.hot-news-text.big-text {
    padding-top: 41px;
}

.emirate {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-right: 35px;
}

.nebula {
    flex-wrap: wrap;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

.western {
    flex-wrap: wrap;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.grand {
    flex-wrap: wrap;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}

.tenerif {
    flex-wrap: wrap;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

.twin {
    flex-wrap: wrap;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
}

.prism {
    flex-wrap: wrap;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
}

.kings {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
}