.toolbar {
margin-right: 50px;
margin-left: 50px;
line-height: 68px;
font-size: 18px;
text-transform: uppercase;
color: #16A085;
display: flex;
flex: 1;
justify-content: center;
}
.toolbar > a {
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 700;
}

.height {
    height: 50px;
}

.image-container {
    width: 100%;
}
.image-container > img {
    width: 100%;
    height: 100%;
}

.button {
    width: 195px;
    height: 54px;
    left: 543px;
    top: 555px;
    color: white;
    font-family: Montserrat;
    font-size: 12px;
    text-transform: uppercase;
    background-color: #16A085;
}
.header-container {
    text-align: center;
    margin: 20px;
}
.content-container {
    text-align: center;
    padding: 20px;
}
.button-container {
    display: flex;
    justify-content: center;
}
body {
    margin: 0px;
}

.footer {
    text-align: right;
}