.none {
    display: none;
}

.redOutline {
    outline: red 2px solid;
}

input:focus {
    outline: green 2px solid;
}

.content {
    margin-top: 10px;
}

span {
    display: inline-block;
    padding: 4px 10px 5px 10px;
    font-size: 13px;
    line-height: 15px;
    border: 1px solid #d2d2d2;
    border-radius: 40px;
    cursor: pointer;
}

span::after {
    border: 1px solid #d2d2d2;
    border-radius: 40px;
    content: 'x';
    margin-left: 10px;
    padding: 1px 5px;
}