    @import "./reset.css";
    .container {
        width: 1280px;
        margin: 0 auto;
    }
    
    .nav-container {
        width: 100%;
        /* background: rgb(150, 150, 150); */
        background: #35444F;
        ;
        text-align: center;
        margin-bottom: 20px;
    }
    
    .menu {
        list-style: none;
        padding: 0;
        margin: 0 auto;
        font-size: 24px;
        display: inline-block;
        color: #FFFFFF;
    }
    
    .menu-items {
        display: inline-block;
        border-left: 1px solid transparent;
        border-right: 1px solid transparent;
    }
    
    .menu-items>a {
        text-decoration: none;
        color: inherit;
    }
    
    .menu-items:hover {
        border-color: white;
        background: #222F3A;
    }
    
    .menu-items>a {
        display: block;
        padding: 15px 25px;
    }
    
    .toolbar {
        display: flex;
        line-height: 50px;
        justify-content: center;
        background: #35444F;
        margin-bottom: 30px;
    }
    
    .toolbar>div>a {
        text-decoration: none;
        color: white;
        margin: 10px;
    }
    
    .toolbar>div :hover {
        background-color: #222F3A;
        border-left: 1px solid white;
        border-right: 1px solid white;
    }
    
    .head-name {
        text-decoration: none;
        color: black;
        border-bottom: 1px dashed;
        font-weight: 200;
        font-size: 80px;
        /* margin-left: 50px; */
    }
    
    .head-name>div {
        margin: 30px 30px 30px 0px;
    }
    
    .letter {
        color: #06e2ff;
        font-weight: normal;
    }
    
    .image-container>img {
        width: 320px;
        height: 381px;
        transition: all 0.3s;
    }
    
    .image-container>img:hover {
        transform: scale(1.1, 1.1);
    }
    
    .image-container {
        text-align: center;
        padding: 80px 0;
        border: 1px solid black;
    }
    
    .main-container {
        text-align: justify;
    }
    
    .main-container:before {
        content: '';
        display: block;
        width: 100%;
        height: 0;
    }
    
    .main-container:after {
        width: 100%;
        height: 0;
        visibility: hidden;
        overflow: hidden;
        content: '';
        display: inline-block;
    }
    
    .content-container {
        display: inline-block;
        width: 65%;
        vertical-align: top;
    }
    
    .left-menu {
        width: 25%;
        font-size: 26.9932px;
        line-height: 80px;
        border: 1px solid #000000;
        background: rgba(0, 0, 0, 0.0001);
        justify-content: center;
        color: #495863;
        display: inline-block;
        vertical-align: top;
        /* box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12); */
    }
    
    .left-menu>li>a {
        text-decoration: none;
        list-style: none;
        color: inherit;
    }
    
    .element-menu:hover {
        background: #DBDBDB;
        color: black;
        padding-left: 20px;
    }
    
    .element-menu {
        border-left: 1px solid black;
        border-right: 1px solid transparent;
    }
    
    .element-menu>a {
        display: block;
        padding: 5px 15px;
    }
    
    .footer {
        width: 100%;
        /* background: rgb(150, 150, 150); */
        background: rgba(99, 105, 110, 0.48);
        /* text-align: center; */
        margin-bottom: 20px;
    }
    
    .bottom-footer {
        list-style: none;
        padding: 0;
        display: inline-block;
        font-size: 28px;
        margin: 0px 5px;
    }
    
    .footer-items {
        display: inline-block;
        border-left: 1px solid transparent;
        border-right: 1px solid transparent;
    }
    
    .footer-items>a {
        text-decoration: none;
        color: inherit;
    }
    
    .footer-items:hover {
        border-bottom: 1px solid #3180A6;
        color: #3180A6;
    }
    
    .footer-items>a {
        display: block;
        padding: 15px 1px;
    }
    
    .footer-items>a:hover {
        padding-bottom: 5px;
    }
    
    .bottom-footer>li {
        padding: 0px 5px;
    }
    
    .text-style {
        font-size: 18px;
        line-height: 24px;
        color: #2C2C2C;
        margin: 30px 0px;
    }
    
    .footer-copyright {
        display: inline-block;
        margin-left: 200px;
        font-size: 28px;
    }
    
    body.dark {
        background-color: rgb(30, 34, 39);
        color: #fff;
    }
    /*JS13*/
    
    #btn {
        margin-top: 13px;
        float: right;
        margin-right: 20px;
        appearance: none;
        border: 0;
        border-radius: 5px;
        background: #4676D7;
        color: #fff;
        padding: 8px 16px;
        font-size: 16px;
    }
    
    body.dark p,
    body.dark .top-logo a {
        color: white;
    }
    
    body.dark .left-menu,
    body.dark .right-menu {
        border: 1px solid white;
    }
    
    body.dark .left-menu ul li a {
        color: gray;
    }
    
    body.dark .left-menu ul li:hover {
        background-color: #4bcaff;
    }
    
    body.dark .left-menu ul li:hover a {
        color: white;
    }
    
    body.dark .navbar ul li:hover {
        border-left: 1px #4bcaff solid;
        border-right: 1px #4bcaff solid;
    }