@import "../css/reset.css";
@import "../css/main.css";
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css");

/* arimo-regular - latin */

@font-face {
    font-family: "Arimo";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/arimo-v13-latin-regular.eot");
    /* IE9 Compat Modes */
    src: local("Arimo Regular"), local("Arimo-Regular"), url("../fonts/arimo-v13-latin-regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/arimo-v13-latin-regular.woff2") format("woff2"), /* Super Modern Browsers */
    url("../fonts/arimo-v13-latin-regular.woff") format("woff"), /* Modern Browsers */
    url("../fonts/arimo-v13-latin-regular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/arimo-v13-latin-regular.svg#Arimo") format("svg");
    /* Legacy iOS */
}


/* arimo-700 - latin */

@font-face {
    font-family: "Arimo";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/arimo-v13-latin-700.eot");
    /* IE9 Compat Modes */
    src: local("Arimo Bold"), local("Arimo-Bold"), url("../fonts/arimo-v13-latin-700.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/arimo-v13-latin-700.woff2") format("woff2"), /* Super Modern Browsers */
    url("../fonts/arimo-v13-latin-700.woff") format("woff"), /* Modern Browsers */
    url("../fonts/arimo-v13-latin-700.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/arimo-v13-latin-700.svg#Arimo") format("svg");
    /* Legacy iOS */
}

body {
    font-family: "Arimo", sans-serif;
    color: #484848;
    text-transform: uppercase;
    background: #f2f2f2;
    text-align: center;
}

.background {
    background: #3a4965;
    width: 1192px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.background2 {
    background: #3a4965;
}

table {
    border-collapse: collapse;
    background-color: #fff;
}

th,
td {
    /* box-shadow: 0 0 10px rgb(128, 128, 128, 0.2); */
    /* border-right: 1px solid rgb(128, 128, 128, 0.2); */
    padding: 1em;
}

tr:nth-child(2),
tr:nth-child(4),
tr:nth-child(6) {
    background: #e3e3e3;
}

tr:nth-child(1),
tr:nth-child(3),
tr:nth-child(5) {
    background: #f2f2f2;
}