.header {
    background: #fafafa !important;
}

.header-container {
    font-weight: bold;
}

.content {
    width: 100%;
}

.header-choose {
    font-size: 18px;
    background: #fafafa;
    display: table-cell;
    vertical-align: middle;
}

.choose-text {
    font-size: 30px;
}

.option-standart {
    font-size: 24px;
    background: #89c331;
    color: #ffffff;
}

.option-ultimate {
    font-size: 30px;
    background: #f04a56;
    color: #ffffff;
}

.option-premium {
    font-size: 24px;
    background: #20807c;
    color: #ffffff;
}

.footer-buttons button {
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    padding: 14px 20px 11px 20px;
    border-bottom: 5px solid rgba(0, 0, 0, 0.18);
    width: 195px;
}

.footer-buttons {
    text-align: center;
}

.button-contact {
    background: #484848;
    border-bottom: 4px solid #b2b1b1;
    color: #fff;
}

.text-table {
    text-align: center;
}

.icons {
    font-size: 24px;
    color: #848484;
    padding-right: 10px;
}

.price {
    min-width: 234px;
}

.price .pr_box {
    font-size: 60px;
    font-weight: bold;
}

.price .price-item {
    display: inline-block;
    vertical-align: middle;
}

.pr_box2 {
    position: relative;
    top: -15px;
    left: 0;
}

.cent {
    font-weight: bold;
    font-size: 24px;
}

.price .price-item span {
    display: block;
    text-align: left;
}

.border-line {
    box-shadow: 5px 0 6px -5px rgba(0, 0, 0, 0.27) inset;
    /*rgba(128, 128, 128, 0.2);*/
}

@media (max-width: 900px) {
    .price {
        min-width: 180px;
    }
    .price .pr_box {
        font-size: 30px;
    }
    .pr_box2 {
        top: -7px;
        font-size: 13px;
    }
}